[submodule "packages/strandz"]
	path = packages/strandz
	url = https://github.com/danja/strandz.git
[submodule "packages/kia"]
	path = packages/kia
	url = https://github.com/danja/kia.git
[submodule "packages/farelo"]
	path = packages/farelo
	url = https://github.com/danja/farelo.git
[submodule "packages/hyperdata-desktop"]
	path = packages/hyperdata-desktop
	url = https://github.com/danja/hyperdata-desktop.git
