[submodule "packages/strandz"]
	path = packages/strandz
	url = https://github.com/danja/strandz.git
[submodule "packages/kia"]
	path = packages/kia
	url = https://github.com/danja/kia.git
[submodule "packages/farelo"]
	path = packages/farelo
	url = https://github.com/danja/farelo.git
[submodule "packages/hyperdata-desktop"]
	path = packages/hyperdata-desktop
	url = https://github.com/danja/hyperdata-desktop.git
[submodule "packages/dogbot"]
	path = packages/dogbot
	url = https://github.com/danja/dogbot.git
[submodule "packages/hyperdata-android"]
	path = packages/hyperdata-android
	url = https://github.com/danja/hyperdata-android.git
[submodule "packages/sparql-store-lite"]
	path = packages/sparql-store-lite
	url = https://github.com/danja/sparql-store-lite.git
[submodule "packages/progressive-scraper"]
	path = packages/progressive-scraper
	url = https://github.com/danja/progressive-scraper.git
[submodule "packages/server"]
	path = packages/server
	url = https://github.com/danja/server.git
[submodule "packages/open-world-interface"]
	path = packages/open-world-interface
	url = https://github.com/danja/open-world-interface.git
[submodule "packages/store-wrapper"]
	path = packages/store-wrapper
	url = https://github.com/danja/store-wrapper.git
[submodule "packages/danping.git"]
	path = packages/danping.git
	url = https://github.com/danja/danping.git
[submodule "packages/sheltopusik"]
	path = packages/sheltopusik
	url = https://github.com/danja/sheltopusik.git
[submodule "packages/tbox"]
	path = packages/tbox
	url = https://github.com/danja/tbox.git
