<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>Hyperdata Recent Articles</title>
    <subtitle>Latest articles from the knowledge base</subtitle>
    <link href="https://hyperdata.it/atom.xml" rel="self" />
    <link href="https://hyperdata.it" />
    <id>https://hyperdata.it/atom.xml</id>
    <updated>{{ contentBlocks.created | default('2025-06-27T00:00:00Z') | date('YYYY-MM-DDTHH:mm:ssZ') }}</updated>
    <author>
        <name>Danny Ayers</name>
        <email>danny.ayers@gmail.com</email>
    </author>
    
    <entry>
        <title>Recent Articles Collection</title>
        <link href="https://hyperdata.it/" />
        <link rel="alternate" type="text/html" href="https://hyperdata.it/" />
        <id>https://hyperdata.it/recent-articles</id>
        <published>{{ contentBlocks.created | default('2025-06-27T00:00:00Z') | date('YYYY-MM-DDTHH:mm:ssZ') }}</published>
        <updated>{{ contentBlocks.created | default('2025-06-27T00:00:00Z') | date('YYYY-MM-DDTHH:mm:ssZ') }}</updated>
        <summary>Collection of recent articles from Hyperdata knowledge base</summary>
        <content type="xhtml">
            <div xmlns="http://www.w3.org/1999/xhtml">
                {{ contentBlocks.content | safe }}
            </div>
        </content>
        <author>
            <name>Danny Ayers</name>
            <email>danny.ayers@gmail.com</email>
        </author>
    </entry>
</feed>